// ----------------------
// Theme's variables fallback
// Add old theme variables here for backward compatibility with plugins
// ----------------------

:root {
  //Colors
  --color-black: $color-theme-base;
  --color-theme-base: $color-theme-base;
  --color-theme-primary: $color-theme-primary;
  --color-theme-secondary: $color-theme-secondary;
  --color-theme-tertiary: $color-theme-tertiary;
  --color-theme-quaternary: $color-theme-quaternary;
  --color-theme-theme-brand: $color-theme-brand;
  --color-theme-grey: $color-theme-grey;
  --color-theme-grey-verylight: $color-theme-grey-verylight;
  --color-theme-grey-light: $color-theme-grey-light;
  --color-theme-grey-medium: $color-theme-grey-medium;
  --color-theme-grey-dark: $color-theme-grey-dark;
  --color-theme-black: $color-theme-black;
  --color-alert: $color-danger;
  --color-lightgrey: $color-theme-grey-light;
  --color-grey: $color-theme-grey;
  --color-mediumgrey: $color-theme-grey-medium;
  --color-darkgrey: $color-theme-grey-dark;
  --color-theme-blue: $color-theme-blue;
  --color-mediumblue: $color-theme-mediumblue;

  //Fonts
  --font-theme-secondary: $font-family-secondary;
}
