
/**
 * -----------------------------
 * Colors
 * This file is read only
 * -----------------------------
 */

/**
 * Edit your colors in theme.json file
 * Then fill the $styleguide-colors below accordingly
 * Warning! Variables declared in theme.json do not appear in the styleguide. SO YOU NEED TO REDEFINE THEM BELOW:
 */

//Styleguide Colors
$styleguide-colors: (
  "base": $color-theme-base, //var(--wp--preset--color--contrast)
  "background-base": $background-theme-base, //var(--wp--preset--color--base)
  "brand": $color-theme-brand, //$color-theme-brand
  "primary": $color-theme-primary, //$color-theme-primary
  "secondary": $color-theme-secondary, //$color-theme-secondary
  "tertiary": $color-theme-tertiary, //$color-theme-tertiary
  "quaternary": $color-theme-quaternary, //$color-theme-quaternary
  "verylightgrey": $color-theme-grey-verylight, //$color-theme-grey-verylight
  "grey": $color-theme-grey, //$color-theme-grey
  "lightgrey": $color-theme-grey-light, //$color-theme-grey-light
  "mediumgrey": $color-theme-grey-medium, //$color-theme-grey-medium
  "darkgrey": $color-theme-grey-dark, //$color-theme-grey-dark
  "white": white
);


//----------------------------------------------------------------------------------//

//Color generation mixin pour le STYLEGUIDE
@each $name, $value in $styleguide-colors {
  .color.#{$name} {
    border: 1px solid #ddd;

    &::after {
      content: none;
    }

    span {
      border-top: 1px solid #ddd;

      &::after {
        content: ' : #{$value}';
        color: initial;
      }
    }
  }
  .background-#{$name} {
    background-color: $value;
  }
}

//Color generation mixin pour le front
@each $name, $value in $styleguide-colors {
  .color-#{$name} {
    color: $value !important;
  }
  .background-#{$name} {
    background-color: $value !important;
  }
  // Force color
  .color-#{$name} {
    h2, h3, h4, p, span, li {
      color: $value !important;
    }
  }
}

/* Color block properties */
.colors:before,
.colors:after {
  content: " ";
  display: table;
}

.colors:after {
  clear: both;
}

.colors {
  *zoom: 1;
}

.color {
  width: 100px;
  height: 130px;
  float: left;
  margin-right: 10px;
  font-size: 12px;
  border: 1px solid red;
  display: flex;
  color: #000;
  position: relative;

  span {
    width: 100%;
    border-top: 1px solid red;
    display: block;
    padding: 5px;
    margin-top: auto;
    background: #fff;
    font-size: .8em;
  }
}

// BODY
body {
  color: $color-theme-base;
  background-color: $background-theme-base;
}
