/* scss/base/_fonts.scss */

/* ----------------------------- */
/* ==Fonts      */
/* ----------------------------- */
body {
  //font-family: $font-family-base;
  //font-weight: $weight-book;
  //font-size: $font-size-base;
  //line-height: $line-height-base;
}


/*For Atomic docs*/
.font {
  margin-top: 0;
  span {
    display: block;
  }
}

/*hr.wp-block-separator {
  border-top: 0;
  border-bottom: 1px solid currentColor;
}*/
