@charset "UTF-8";
/* ----------------------------- */
/* ==Video commons      */
/* ----------------------------- */

//Variables
$video-height: 60vh;

//Video wrapper
.video-wrapper {
  position: relative;
  height: $video-height;
  display: block;

  .video-player-wrap {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  span {
    @extend .visually-hidden;
  }
}

//Video image wrapper
.video-image-wrapper {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  margin-top: 6rem;
  overflow: hidden;

  img {
    @include absolute-center;
    z-index: 1;
    min-height: 100%;
    min-width: fit-content;
    max-width: none;
    opacity: 1;
    transition: all .4s;
  }

  //Video trigger
  .btn {
    display: flex;
    align-items: center;
    @include absolute-center;
    z-index: 3;
    margin-top: 0 !important;

    &::after {
      @include svgIcon('play-white-s');
      margin-left: 1rem;
    }

    &:hover,
    &:focus {
      &::after {
        @include svgIcon('play-red-s');
      }
    }
  }
}

//Video player
.video-player {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
  -webkit-animation: all .6s;
  animation: all .6s;
  transform: translate(-50%,-50%);
  overflow: hidden;
  z-index: 1;

  .video,
  iframe {
    width: 100%;
    height: 100%;
  }
}

//Animations
.video-wrapper {

  &:hover,
  &:focus {
    .video-image-wrapper::after {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  &.video-active {

    .video-player {
      z-index: 4;
      opacity: 1;
    }
  }
}
