// Sticky Header

@media (min-width: $medium) {

  body {

    //Quand ajout de la classe .stickable sur body
    &.stickable {
      padding-top: $header-height;

      .site-header {
        position: fixed;
        top: 0;
        left: 0;
        height: $header-height;
        width: 100%;

        > * {
          height: 100%;
        }
      }

      &.has-wwp-alerte {
        padding-top: calc(#{$header-height} + #{$header-height} / 2);

        .site-header {
          top: $alertHeight;
        }
      }

      // Si bandeau alerte
    }

    //Lors du scroll, le header devient sticky
    &.has-stuck-header {
      padding-top: $header-height;

      .site-header {
        height: calc(#{$header-height} / 2);

        ul.header-menu li.m0 > a {
          height: calc(#{$header-height} / 2);
        }

        ul.header-menu ul.level1 {
          top: calc(#{$header-height} / 2);
        }
      }
    }
  }
}


