/* ----------------------------- */
/* ==CONTENT                     */
/* ----------------------------- */

/*Worpress override*/
.page-content, .entry-content, .entry-summary, .hentry {
  margin: 0;
}

p:empty {
  display: none;
}

p.chapo {
  font-size: 2rem;
  font-weight: $weight-bold;
  color: $color-theme-black;
}

// Applique par défaut aux svg la couleur de leur parent !
.shape-svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
