/* ----------------------------- */
/* ==GUTENBERG'S OVERRIDES       */
/* ----------------------------- */

// SEPARATOR
.wp-block-separator {
  border-top: 1px solid;
}

// IMAGES
.site-content {

  .wp-block-image img,
  .wp-block-gallery img,
  .wp-block-cover img {
    border-radius: 8px;
  }
}

// COLUMNS
:root :where(.wp-block-columns),
:root :where(.editor-styles-wrapper) :where(.wp-block-columns),
.wp-block-group .wp-block-columns {
  padding-top: 0;
  padding-bottom: 0;
  gap: var(--wp--preset--spacing--60);

  &.has-background {
    gap: 0;
  }

  @media (max-width: $medium - 1) {
    gap: 0;
  }
}

// QUERY LOOP
.wp-block-query {

  @media (max-width: $very-large - 1) {

    .is-layout-grid.columns-4 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media (max-width: $large - 1) {

    .is-layout-grid.columns-4 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
