/* ----------------------------- */
/* ==CSS UTILITIES            */
/* ----------------------------- */

// Remove style for phone numbers for iOS
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

// HEADINGS
.h1-like {
  @extend h1 !optional;
}

.h2-like {
  @extend h2 !optional;
}

.h3-like {
  @extend h3 !optional;
}

/// Hide elements ///
@media (min-width: $medium) {

  .mobile-only {
    display: none !important;
  }
}

// Elements to hide on small devices
@media (max-width: $tiny - 1) {
  .hide-tiny {
    display: none !important;
  }
}

@media (max-width: $small - 1) {
  .hide-small {
    display: none !important;
  }
}

@media (max-width: $medium - 1) {
  .hide-medium,
  .desktop-only {
    display: none !important;
  }
}

@media (max-width: $large - 1) {
  .hide-large {
    display: none !important;
  }
  .display-block-large {
    display: block !important;
  }
}

@media (max-width: $very-large - 1) {
  .hide-very-large {
    display: none !important;
  }
}

/* invisible for all */
.is-hidden,
div.is-hidden,
.js-hidden,
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
}
